html {
    height: 100%;
}

body {
    background: url("road.jpeg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    min-height: 100%;
}

.heading {
    text-align: center;
    margin-top: 20px;
    font-size: 3.5rem;
    color: #fff;
    text-shadow: #000 1px 1px;
}

@media (min-width: 800px) {
    .heading {
        padding: 20px;
    }
}

.pomodoro {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

.pomodoro__length {
    border: 1px solid #000;
    padding: 2px;
    font-size: 1.15rem;
    background-color: rgb(245, 13, 13);
    text-align: center;
    width: 300px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .pomodoro__length {
        display: inline-block;
        border: 1px solid #000;
        padding: 2px;
        font-size: 1.15rem;
        background-color: rgb(245, 13, 13);
        width: auto;
        margin: 0;
    }
}


.pomodoro__length__btn {
    background-color: rgb(237, 237, 241);
    color: #000;
    font-weight: 700;
    padding: 8px 0; 
}

@media (min-width: 800px) {
    .pomodoro__length__btn {
        width: 250px;
    }
}

.pomodoro__length__btn__adjust {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

.pomodoro__length__btn__adjust__timer, .pomodoro__length__btn__adjust__break {
    margin: 5px 0;
    color: rgb(245, 13, 13);
}

.pomodoro__length__btn__adjust__timer-minus, .pomodoro__length__btn__adjust__timer-plus, 
.pomodoro__length__btn__adjust__break-minus, .pomodoro__length__btn__adjust__break-plus {
    padding: 5px 10px;
}

.pomodoro__length__btn__adjust__timer-minus:hover, .pomodoro__length__btn__adjust__timer-plus:hover,
.pomodoro__length__btn__adjust__break-minus:hover, .pomodoro__length__btn__adjust__break-plus:hover {
    cursor: pointer;
    color: rgb(245, 13, 13);
}

.pomodoro__timer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    width: 250px;
    height: 250px;
    padding: 20px;
    border-width: 3px;
    border-style: solid;
    border-radius: 50%;
    font-size: 3.5rem;
    color: #fff;
    background: rgba(66, 66, 66, 0.651);
}

.pomodoro__timer__name {
    letter-spacing: 2px;
    text-shadow: #000 3px 2px;
}

.pomodoro__timer__time {
    font-size: 5rem;
    text-shadow: #000 4px 3px;
}

@media (min-width: 800px) {
    .pomodoro__timer {
        margin: 20px auto;
    }
}

.pomodoro__control__btn {
    width: 300px;
    font-size: 1.15rem;
    font-weight: 700;
    border: 1px solid #000;
    margin: 15px auto;
    padding: 10px 5px;
    color: #fff;
}

.pomodoro__control__btn--start {
    background-color: rgb(2, 156, 2);
}

.pomodoro__control__btn--start:hover {
    cursor: pointer;
    background-color: rgb(2, 117, 2);
}

.pomodoro__control__btn--stop {
    background-color: rgb(255, 0, 0);
}

.pomodoro__control__btn--stop:hover {
    cursor: pointer;
    background-color: rgb(206, 4, 4);
}

.pomodoro__control__btn--reset {
    background-color: rgb(201, 191, 191);
    color: #000;
}

.pomodoro__control__btn--reset:hover {
    cursor: pointer;
    background-color: rgb(170, 159, 159);
}

@media (min-width: 800px) {
    .pomodoro__control__btn {
        display: inline-block;
        width: 100px;
        margin: 0 15px;
    }
}

footer {
    text-align: center;
    color: #fff;
}

@media (min-width: 800px) {
    footer {
        position: absolute;
        bottom: 0;
        left:0;
        right: 0;
    }
}

footer a {
    color: #fff;
}

